<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" style="background-color: rgb(197, 46, 109);">
     <h5 style="color: whitesmoke;margin-top: 15px;font-family: 'Amaranth', sans-serif;font-weight: bold;">Websync Audio Player</h5>
    </div>
    <div class="col-md-4" >
      <audio id="audio_data" #audiofile 
        class="col-md-12" controls style="outline: none; margin-top: 5px;"></audio>
    </div>
    <div class="col-md-4" style="background-color: rgb(197, 46, 109);">
      <marquee direction="right" style="color: white;margin-top: 12px;font-family: 'Amaranth', sans-serif;font-weight: bold;
      font-size: 20px;">{{song}}</marquee>
    </div>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="card col-md-2 col-sm-2 col-lg-2 col-xl-2" *ngFor = "let playlistData of playList" 
      style="background-color: transparent;text-align: center;margin: 22px;border: transparent;">
        <img [src]="playlistData.image" height="280px">
        <span style="align-items: center;color: white;background: black;padding-top: 10px;padding-bottom: 10px;">{{playlistData.name}}</span>
        <button class="btn btn-warning"  
          (click) = "playMusic(playlistData.url, playlistData.name)">Play</button>
    </div>
  </div>
</div>





<router-outlet>

  
</router-outlet>
